<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matang Mehra">
    <meta name="keywords" content="Matang Mehra, Portfolio, Web Development, SEO, Cybersecurity">
    <meta name="description" content="Discover Matang Mehra’s portfolio: web development, SEO, and cybersecurity projects for startups like We-dails and mybookhomes.com. Explore innovative tech solutions by a B.Tech CSE student.">
    
    <title>Matang Mehra {% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/default.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png' ) }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png' ) }}" type="image/x-icon">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-YJFL3YDNQX"></script>
	<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
	
		  gtag('config', 'G-YJFL3YDNQX');
	</script>

</head>
<body>
    {% block abovenav %}
    {% endblock %}
    <div class="main-container">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home_page') }}">Home</a></li>
                    <li><a href="{{ url_for('about_page') }}">About</a></li>
                    <li><a href="{{ url_for('blogs_page') }}">Blogs</a></li>
                    <li><a href="{{ url_for('projects_page') }}">Projects</a></li>  
                </ul>
            </nav>
        </header>

        {% block content %} 
        
        {% endblock %}

        <footer>
            <span class="copyright">&copy; 2024 Matang Mehera</span>
        </footer>
    </div>

</body>
</html>
