{% extends "base_temp.html" %}

{% block title %} - Blogs {% endblock %}

{% block content %}
<main>
    <section class="blog-box">
        {% if entries %}
            {% for entry in entries %}
                <div class="blog-post" onclick="location.href='{{ entry.link }}';">        
                    <div class="post-details-bar">
                        <h1>{{ entry.title }}</h1>
                        <div class="extra-info">
                            <span class="author">
                                Author : {{ entry.author }}
                            </span>
                            <span class="Published-on">
                                Published : {{ entry.published_date }}
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No Feeds Available</p>
        {% endif %}

    </section>
</main>
{% endblock %}