{% extends "base_temp.html" %}

{% block title %}
- Connect With Me
{% endblock %}

{% block content %}
    <main class="connect-main">
        <section class="connections">
                <p>
                    I am always open to new opportunities and collaborations. Feel free to reach out to me for any queries or just to say hi. <br>I am available on the following platforms:
                </p>
                <section class="social-links">
                        <a href="https://medium.com/@matangmehra" target="_blank" rel="noopener"><button id="medium" class="social-link-buttons">MEDIUM</button></a>
                        
                        <a href="https://www.github.com/mgmehra2005" target="_blank" rel="noopener"><button id="github" class="social-link-buttons">GITHUB</button></a>
                        
                        <a href="https://www.linkedin.com/in/matang-mehra-b28b38265/" target="_blank" rel="noopener"><button id="linkedin" class="social-link-buttons">LINKEDIN</button></a>

                        <a href="https://www.instagram.com/matang_mehra/" target="_blank" rel="noopener"><button id="instagram" class="social-link-buttons">INSTAGRAM</button></a>

                        <a href="https://twitter.com/matang_mehra" target="_blank" rel="noopener"><button id="x" class="social-link-buttons">X</button></a>

                        <a href="https://www.facebook.com/people/Matang-Mehra/pfbid02SoDbzguP8Xr3PfaiRUC8oJVVWteaLevi6kJVdbourSeNeBgyQqAj62cZnxrx4drKl/" target="_blank" rel="noopener"><button id="facebook" class="social-link-buttons">FACEBOOK</button></a>
                </section>

        </section>
    </main>
{% endblock %}