{% extends "base_temp.html" %}

{% block title %} - Projects {% endblock %}

{% block content %}

<main>
	<div class="ProjectMasterContainer">

		<div class="ProjectContainer">
			<div class="ProjectThumbnail">
				<img class="ProjectThumbnailImage" src="{{ url_for('static', filename='images/projects-thumbs/yts.png') }}" alt="Yt-Spoof">

			</div>
			<div class="ProjectInfo">
				<h3 class="ProjectInfoTitle">Yt-Spoof</h3>
				<p class="ProjectInfoDescription">YT-SPOOF is a powerful Bash script that leverages the magic of yt-dlp and spotify_dl to bring all your media downloads under one roof. 🥳</p>
				<button class="ProjectInfoLink" onclick="window.location.href='https://github.com/mgmehra2005/Yt-Spoof'" formtarget="_blank">See On Github</button>
			</div>
			
		</div>

		<div class="ProjectContainer">
			<div class="ProjectThumbnail">
				<img class="ProjectThumbnailImage" src="{{ url_for('static', filename='images/projects-thumbs/smartflow.png') }}" alt="Smart Flow: Team Management System">

			</div>
			<div class="ProjectInfo">
				<h3 class="ProjectInfoTitle">SmartFlow</h3>
				<p class="ProjectInfoDescription">An Intelligent Task & Workflow Optimizer that Automatically assigns and re-balances tasks based on skills, workload, and availability.</p>
				<button class="ProjectInfoLink" onclick="window.location.href='http://github.com/mgmehra2005/smartflow'" formtarget="_blank">See On Github</button>
			</div>
			
		</div>

	</div>
</main>

{% endblock %}
