* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #55372d;
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    color: #d04662;
}

p {
    color: #55372d;
}

.main-container{
    z-index: 1;
    background-color: rgp(0,0,0, 0.5);
    padding: 20px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
    background-color: #d04662;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    float: left;
    margin: 2%;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;    
}

nav ul li a:hover{
    color: rgb(255, 87, 87);    
}

.welcome{
    margin: 40px;
    display: block;
    overflow-x: hidden;
    justify-content: center;
    width: 100%;    
    height: 100%;
    padding-top: 10%;
    padding-right: 10%;
}

.image-container{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
}

.image-container img {
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-message{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    max-width: 40%;
    margin: 20px;
    float: right;
    padding: 10px;
}

.welcome-message h1{
    text-align: left;
    font-size: 50px;
    color: #d04662;
}

.welcome-message p{
    text-align: justify;
    font-size: 23px;
    color: #55372d;
    
}

#resume{
    justify-content: center;
    align-items: center;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    border: none;
    background-color: #d04662;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}

#connect{
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    border: none;
    background-color: #d04662;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}

#connect:hover, #resume:hover {
    color: #d04662;
    background-color: transparent;
    border: 1px solid #d04662;
}

.certificates{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.certificates h1{
    text-align: center;
    font-size: 50px;
    margin: 20px;
}

.certificate-container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 100%;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    scrollbar-width: none;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.certificate-box{
    float: left;
    margin: 1%;
    animation: scroll 10s linear infinite;
}

.certificate-box img:hover{
    box-shadow: 0 0 10px red;
    transition: 0.5;
}

.certificate-box h4 a{
    text-decoration: none;
    color: #55372d;
}

footer{
    background-color: #d04662;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    width: 100%;
    left: 0;
    bottom: 0;
}

.copyright {
    color: white;
}

.introduction{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.introduction-message{
    text-align: justify;
    font-size: 20px;
}

.blog-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    max-height: 100%;
}

.blog-post{
    cursor: pointer;
    display: flex;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}

.blog-post:hover{
    border: solid 2px #55372d;
    transition: 1s
}

.post-img-bar{
    padding-right: 5px;
    border-radius: 10px;
}

.post-img-bar img{
    padding-right: 5px;
    width: 200px;
    border-radius: 10px;
}

.Published-on{
    justify-content: space-between; 
    display: flex; 
    align-items: end;
    color: #534642;
    margin-top: 1%;
}