* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: white;
}

.background-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-video video{
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    filter: contrast(1.1) brightness(0.3);
}

.main-container{
    z-index: 1;
    background-color: rgp(0,0,0, 0.5);
    padding: 20px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 20px 50px;
    background-color: rgb(44, 44, 44, 0.8);
    border-radius: 50px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    float: left;
    margin: 2%;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;    
}

nav ul li a:hover{
    color: aqua;
    text-shadow: 0 0 5px aqua;
    
}

.welcome{
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
}

.my-image{
    max-width: 550px;
    margin: 20px;

}

.welcome-message{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    max-width: 40%;
    margin: 20px;
}

.welcome-message h1{
    text-align: left;
    font-size: 50px;
}

.welcome-message p{
    text-align: justify;
    font-size: 23px;
    
}

#resume{
    justify-content: center;
    align-items: center;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    border: 1px solid aqua;
    background-color: transparent;
    color: aqua;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}

#connect{
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    border: 1px solid aqua;
    background-color: aqua;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}

.certificates{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    border: 1px solid aqua;
    border-radius: 20px;
}

.certificates h1{
    text-align: center;
    font-size: 50px;
    margin: 20px;
}

.certificate-container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.certificate-box{
    float: left;
    margin: 1%;
}

.certificate-box img:hover{
    box-shadow: 0 0 10px aqua;
    transition: 0.5;
}

.certificate-box h4 a{
    text-decoration: none;
    color: aqua;
}

footer{
    position:static;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    left: 0;
    bottom: 0;
}