{% extends "base_temp.html" %}

{% block title %} - About {% endblock %}

{% block content %}
<main>
    <section class="introduction">
        <div class="introduction-message">
            <h1>MY INTRODUCTION</h1>
            <br>
            <p>
                I’m Matang Mehra, a B.Tech Computer Science student and tech enthusiast from Delhi, India, dedicated to creating innovative digital solutions. As a web developer and SEO specialist, I drive growth for home solutions startups We-dials and mybookhomes.com by designing user-friendly websites, optimizing search engine performance, and enhancing UI/UX. My work includes building dynamic service provider pages and boosting organic traffic through strategic SEO techniques.
            </p>
            <br>
            <p>
                With a strong foundation in cybersecurity, I’ve developed automated penetration testing tools during a mentorship with Threat Prism, sharpening my skills in securing digital platforms. Proficient in Python, JavaScript, HTML/CSS, and Git, I blend technical expertise with creative problem-solving to tackle real-world challenges. My certifications in Python Programming (HackerRank) and Git & GitHub (Geekster) reflect my commitment to continuous learning.
            </p>
            <br>
            <p>
                Driven by an entrepreneurial spirit, I’m not chasing traditional jobs—I’m building my own path. My mission is to launch tech ventures that connect people and solve everyday problems, like those in the home solutions industry. Whether it’s crafting seamless web experiences or exploring cybersecurity innovations, I’m passionate about pushing boundaries.
            </p>
            <br>
            <p>
                Explore my portfolio to see projects like website optimizations, security tools, and more. Let’s connect to create impactful tech solutions or discuss the next big startup idea!
            </p>
            
        </div>
    </section>

    <section class="certificates">
        <h1>CERTIFICATES</h1>
        <div class="certificate-container">
            <div class="certificate-box">
                <img src="{{ url_for('static', filename="images/certificates/CS-Internship.png") }}" alt="CS Internship" width="300px">
                <hr>
                <h4 align="center">Cyber Security Internship</h4>
                <h4 align="center"><a href="https://www.1stop.ai">From : 1stop.ai</a></h4>
            </div>

            <div class="certificate-box">
                <img src="{{ url_for('static', filename="images/certificates/Git&Github-Geekster.png") }}" alt="Git & Github Certification"
                    width="300px">
                <hr>
                <h4 align="center">Git & Github Certification</h4>
                <h4 align="center"><a href="https://www.Geekster.com">From : Geekster.com</a></h4>
            </div>

            <div class="certificate-box">
                <img src="{{ url_for('static', filename="images/certificates/PythonBasics.png") }}" alt="Python Basics Certification" width="300px">
                <hr>
                <h4 align="center">Python Basics Certification</h4>
                <h4 align="center"><a href="https://www.Hackerrank.com">From : Hackerrank.com</a></h4>
            </div>

            <div class="certificate-box">
                <img src="{{ url_for('static', filename="images/certificates/PythonAIML-BootCampCertificate.png") }}"
                    alt="PythonAIML Certificate of Appreciation" width="300px">
                <hr>
                <h4 align="center">Python AIML Bootcamp</h4>
                <h4 align="center">Certificate of Appreciation</h4>
                <h4 align="center"><a href="https://www.devtown.in">From : DevTown</a></h4>
            </div>

            <div class="certificate-box">
                <img src="{{ url_for('static', filename="images/certificates/1SlQ12.png") }}" alt="PythonAIML Certificate of completion" width="300px">
                <hr>
                <h4 align="center">Python AIML Bootcamp</h4>
                <h4 align="center">Certificate of Completion</h4>
                <h4 align="center"><a href="https://www.devtown.in">From : DevTown</a></h4>
            </div>

            <div class="certificate-box">
                <img src="{{ url_for('static', filename="images/certificates/2oVHvs.png") }}" alt="PythonAIML Certificate of completion" width="300px">
                <hr>
                <h4 align="center">Python AIML Bootcamp</h4>
                <h4 align="center">Certificate of Completion</h4>
                <h4 align="center"><a href="https://www.devtown.in">From : DevTown</a></h4>
            </div>

            <div class="certificate-box">
                <img src="{{ url_for('static', filename="images/certificates/ZVYpST.png") }}" alt="Hotstar clone using HTML" width="300px">
                <hr>
                <h4 align="center">Hotstar Clone Using HTML Bootcamp</h4>
                <h4 align="center">Certificate of Completion</h4>
                <h4 align="center"><a href="https://www.devtown.in">From : DevTown</a></h4>
            </div>

            <div class="certificate-box">
                <img src="{{ url_for('static', filename="images/certificates/ISP-43-FTC-App-Cert.png") }}"
                    alt="Certificate of appreciation from internshala for ISP Program" width="300px">
                <hr>
                <h4 align="center">Internshala Student Partner</h4>
                <h4 align="center">Certificate of Appreciation</h4>
                <h4 align="center"><a href="https://www.internshala.com">From : Internshala</a></h4>
            </div>

            <div class="certificate-box">
                <img src="{{ url_for('static', filename="images/certificates/SnowStormHackathon_1.png") }}"
                    alt="Certificate for participation in SnowStorm Hackathon" width="300px">
                <hr>
                <h4 align="center">SnowStorm Hackathon</h4>
                <h4 align="center">Certificate for Participation</h4>
            </div>
        </div>
    </section>
</main>
{% endblock %}