{% extends "base_temp.html" %}

{% block abovenav %}
<picture class="image-container">
    <img class="my-image" src="{{ url_for('static', filename='images/background.png') }}" alt="">
</picture>
{% endblock %}

{% block content %}
    <main>
        <section class="welcome">
            <div class="welcome-message">
                <h1>HEY, I`M</h1>
                <h1>MATANG MEHRA</h1>
                <p>
                    B.Tech CSE student specializing in web development, SEO, and cybersecurity. I build user-friendly websites and drive growth for startups like We-dials and mybookhomes.com. Passionate about innovative tech solutions, I tackle real-world challenges. Discover my projects and let’s create something impactful!
                </p>
                <div>
                    <a href="{{url_for('connect_page')}}"><button id="connect">CONNECT TO ME</button></a>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
